
.cardPoke_container {
    position: relative;
    // min-height: 380px;
    border: 1px solid #282c34;
    border-radius: 5px;
    &:hover {
        -webkit-box-shadow: 0px 10px 6px -4px #e9e9e9;
        box-shadow: 0px 10px 6px -4px #e9e9e9;
    }

    .MuiCard-root {
        // border: $material-border;
        // min-height: 380px;
        background-color: #d3d3d3;
    }

    .MuiCardMedia-media{
        width: auto;
    }
    &_card_media {
        // width: fit-content !important;
        margin: 0 auto !important;
        min-height: 150px;
        margin-top: 2.5rem;
        background-color: lightgrey;
        &img{
            width: 100%;
        }

    }

    &_content {
        background-color: white;
        // min-height: 150px;
    }

    &_actions {
        background-color: lighten(grey, 3%);
        display: flex;
        justify-content: space-between;
        button {
            color: red;
            border-color: red;
        }
    }

    &_name {
        text-transform: capitalize;
    }

    &_id {
        position: absolute;
       
        font-size: 1rem;
        bottom: 45%;
        left: -1px;
        padding-left: 15px;
        background-color: white;
        width: 50%;
        border-radius: 0 15px 15px 0 ;
        border: 1px solid #282c34;

    }

    &_base_exp {
        position: absolute;
        top: 15px;
        right: 10px;
    }
    &_types {
        // position: absolute;
        bottom: 55%;
        right: 10px;
        padding: .2rem 1rem;
        border-radius: 5px;
        margin-right: 1rem;
        text-transform: capitalize;
        @media only screen and (max-width:390px){
            bottom: 60%;
        }
       
    }


}