
.stats_container{
    margin: 0 .2rem;
    display: flex;
    & span{
        margin: 0 .5rem;
    }
    p{
        font-size: 16px;
        margin: 0.5rem auto;
        background-color: rgb(143, 143, 143);
        color: white;
        border-radius: 15px;
        padding:1px 16px;
    }
}