.App {
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-filter{
  background-color: #4f5053;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.infinite-scroll-component {
  overflow: hidden !important;
}

.modal-container{
  width: 80%;
  @media only screen and (max-width:390px){
    width: 100%;
}
}